[submodule "third_party/premake-core"]
	path = third_party/premake-core
	url = https://github.com/premake/premake-core.git
[submodule "third_party/premake-qt"]
	path = third_party/premake-qt
	url = https://github.com/dcourtois/premake-qt.git
[submodule "third_party/premake-export-compile-commands"]
	path = third_party/premake-export-compile-commands
	url = https://github.com/tarruda/premake-export-compile-commands.git
